@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Barlow";
    src: url('../public/fonts/Barlow/Barlow-Light.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Barlow";
    src: url('../public/fonts/Barlow/Barlow-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Barlow";
    src: url('../public/fonts/Barlow/Barlow-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Barlow";
    src: url('../public/fonts/Barlow/Barlow-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Barlow";
    src: url('../public/fonts/Barlow/Barlow-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: "Work_Sans";
    src: url('../public/fonts/Work_Sans/WorkSans-Light.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Work_Sans";
    src: url('../public/fonts/Work_Sans/WorkSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Work_Sans";
    src: url('../public/fonts/Work_Sans/WorkSans-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Work_Sans";
    src: url('../public/fonts/Work_Sans/WorkSans-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Work_Sans";
    src: url('../public/fonts/Work_Sans/WorkSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}


@layer components {
    .btn {
        @apply bg-prim py-2 md:py-3 px-6 text-white h-fit rounded-lg hover:bg-transparent hover:text-prim border border-prim transition-all duration-150
    }
    .btn-b {
        @apply py-2 md:py-3 px-6 text-prim h-fit rounded-lg hover:bg-transparent hover:text-white border hover:bg-prim  border-prim transition-all duration-150
    }
}

.hero-text-animate3{
    animation-name: textAnim;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.hero-text-animate{
    animation-name: textAnim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes textAnim{
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}

.fill-image{
    filter: invert(64%) sepia(19%) saturate(5083%) hue-rotate(166deg) brightness(99%) contrast(87%);
}

@layer base {
    html {
      @apply scroll-smooth;
    }
  }